
@import "skeleton";
@import "spinner";

html, body {
  //height: 98%;
  //overflow: hidden;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// basic site layout
.App {
  @extend .container;
  margin-top: 0.25em;
  //height: 98%;
}

.Task {
  border-width: 2px;
  border-style: solid;
}

.TaskSelector {
  @extend .row;
}

.SelectedTaskList {
  @extend .seven;
  @extend .columns;

  //make the 2 panels scroll independently
  position: fixed;
  //left: 33%;
  transform: translateX(50%);
  width: 35em;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 6em;
}

.AvailableTaskList {
  @extend .four;
  @extend .columns;
  //height: 100%;
  //overflow: scroll;
}

.availabletasks {
  &, ul {
    list-style: none;
  }

  h3.category {
    text-align: center;
  }

  ul {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.taskgroup {
  border: 1px solid grey;
}

label {
  display: inline;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

h3 {
  font-size: 1.7rem;
}

.view-controls {
  h3 {
    margin-bottom: 0.1rem;
  }

  label {
    margin-left: 0.5em;
    margin-right: 1.2em;
  }
}

.clickable:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  & .tooltip {
    display: inline;
  }
}

.task {
  @extend .row;

  margin: 0px;
  margin-bottom: 0.2em;
  background-color: #e5e5e5;

  .task-info {
    height: 3em;
    overflow: hidden;
  }

  .code {
    margin-right: 1em;
  }

  .day {
    margin-right: 1em;
  }

  time.time {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  position: relative;

  .tooltip {
    display: none;
    position: absolute;
    bottom: 0em;
    right: 0.7em;

    color: #313131;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
  }
}

.ui {
  @extend .row;
}

.alert {
  display: block;
  padding: 20px;
  border-left: 5px solid;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
  background-color: #F2D7D5;
  border-left-color: #C0392B;
  color: #C0392B;
}

.info-text {
  font-size: smaller;
  margin-bottom: 0.5em;
}

.TaskSelector {
  .alert {
    @extend .twelve;
    @extend .column;
  }

  p {
    margin-bottom: 0;
  }
}

.SelectedTaskList ul {
  list-style: none;
}

.LoginScreen {
  .loading-spinner {
    display: inline;
    position: relative;
    margin-left: 1.5em;
  }
  .needMargin{
    margin: 0 15px 0 0;
  }
}

.LimitPanel {
  h2 {
    text-align: left;
    margin-bottom: 0.3em;
  }

  ul {
    width: 15em;
  }

  li {
    &.violation {
      border-left: 5px solid;
      background-color: #F2D7D5;
      border-left-color: #C0392B;
    }

    @extend .row;
    margin-bottom: 0.2em;

    label {
      @extend .eight;
      @extend .columns;
    }

    .count {
      @extend .four;
      @extend .columns;
    }
  }
}

.ServerStatus {
  @extend .row;
  display: inline;

  label {
    margin-right: 0.75em;
  }

  p {
    display: inline;
  }

  $icon-size: 1rem;

  .status-icon {
    display: inline;

    &.server-online:before {
      background-color: #94E185;
      border-color: #78D965;
      box-shadow: 0px 0px 4px 1px #94E185;
    }

    &.server-offline:before {
      background-color: #C9404D;
      border-color: #C42C3B;
      box-shadow: 0px 0px 4px 1px #C9404D;
    }

    &:before {
      content: ' ';
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      margin-right: 0.5em;
      border: 1px solid #000;
      border-radius: $icon-size;
    }
  }
}

.SavingPanel {
  position: fixed;
  top: 11px;
  left: 11px;

  .loading-spinner {
    display: inline;
    margin-left: 6em;
  }
}


svg .task p {
  font-size: 0.95rem;
  hyphens: auto;
  overflow: hidden;
  margin: 0.25rem;
}

